.articleWrapper{
   
    height:350px ;
    margin-bottom: 20px;
    box-shadow: 0px 3px 5px #ccc;
    border-radius: 5px 5px 0px 0px;

}

.articleWrapper img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
.articleWrapper h3{
    text-align: right;
    padding: 8px 16px;

}
.articleWrapper p{
    text-align: right;
    padding: 8px 16px;
    color: #777
}
